{% extends 'starter-page.html' %}

{% load static %}
{% block body %}
    <!-- Doctors Section -->
    <section id="doctors" class="doctors section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Doctors</h2>
        <p>At Healing Hope Medical Center, our doctors are the heart of our healthcare team. Each physician brings extensive knowledge, compassion, and a commitment to patient-centered care, ensuring you receive the highest quality treatment. From routine checkups to specialized care, our doctors are here to support your health journey, providing expertise across various medical fields. Your well-being is our priority, and we are dedicated to guiding you every step of the way toward a healthier future.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/doc1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.google.com/search?client=firefox-b-d&q=twitter"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=facebook"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr.Kwame Mensa</h4>
                <span>Chief Medical Officer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/doc2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.google.com/search?client=firefox-b-d&q=twitter"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=facebook"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr Elizabeth Ngunge</h4>
                <span>Anesthesiologist</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/doc3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.google.com/search?client=firefox-b-d&q=twitter"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=facebook"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr.Kofi Adebayo</h4>
                <span>Cardiology</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/doc4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.google.com/search?client=firefox-b-d&q=twitter"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=facebook"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.google.com/search?client=firefox-b-d&q=linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr.Zola Ndlovu</h4>
                <span>Neurosurgeon</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Doctors Section -->

{% endblock %}