{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
{#You need a table to display the data row by row#}
{#Last tableheading is action. To carry buttons#}
{#have a loop to fetch data. mention the key while fetching values from the variable allappointments #}
{#the row in loop keeps repeating until there is nothing to display    #}
{#MENTION THE SPECIFIC VARIABLE AS IN THE DOUBLE CURLY BRACES MODELS.PY  AND STORE THEM IN X  #}
{#in the last table data, 3 buttons will help delete/pay/edit the appointment date#}
    <table class="table table-info container">
    <tr>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>date</th>
        <th>department</th>
        <th>doctor</th>
        <th>message</th>
        <th>Action</th>
    </tr>

    {% for x in appointment %}
    	<tr>
            <td>{{ x.name }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.phone }}</td>
            <td>{{ x.date }}</td>
            <td>{{ x.department }}</td>
            <td>{{ x.doctor }}</td>
            <td>{{ x.message }}</td>
            <td>
                <a href="/edit/{{ x.id }}" class="btn btn-warning">Edit</a>
                <a href="/delete/{{ x.id }}" class="btn btn-danger">Delete</a>
                <a href="{% url 'pay' %}" class="btn btn-success">Pay</a>
            </td>
        </tr>
    {% endfor %}





    </table>


{% endblock %}